<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/index.css">
<%- include('../partials/nav') %> 

<main>
  <h1><%= title  %> </h1>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight #</th>
        <th>Departure Date</th>
        <th>Flight Info</th>
        <th><i class="fas fa-trash"></i></th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(flight => { %> 
        <tr>
          <td><%= flight.airline %></td>
          <td><%= flight.airport %></td>
          <td><%= flight.flightNo %></td>
          <td><%= flight.departs.toLocaleString() %></td>
          <td><a href="/flights/<%= flight._id %>">More Info</a></td>
          <td>
            <form action="/flights/<%= flight._id %>?_method=DELETE" method="post">
              <button><i class="fas fa-delete-left fa-xl"></i></button>
            </form>
          </td>
        </tr>
      <% }) %> 
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %> 