<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div>
    <div>Departure Date: </div>
    <div><%= flight.departs%></div>
  </section>
  <h3 id="table-meals">Meals</h3>
  <table id="meals">
    <thead>
    </thead>
    <tbody>
      <tr>
        <% flight.meals.forEach(meal => { %>
          <td><%= meal.name %></td>
        <% }) %> 
      </tr>
    </tbody>
  </table>
  <form action="/flights/<%= flight._id %>/meals" method="post" id="add-meal-to-flight">
    <select name="mealId">
      <% meals.forEach(meal => { %>
        <option value="<%= meal._id %>"><%= meal.name %></option>
      <% }) %> 
    </select>
    <button type="submit"> Add to Meal</button>
  </form>
  <h2 id="tickets-id">Tickets</h2>
    <form action="/flights/<%= flight._id %>/tickets" method="post" id="add-ticket">
      <label for="seat-input">Seat: </label>
      <input name="seat" required pattern="[A-F][1-9]\d?" id="seat-input" placeholder="A1 - F99">
      <label for="price-input">Price: </label>
      <input type="text" name="price" id="price-input" placeholder="Number Only">
      <button type="submit">Add Ticket</button>
    </form>
    <% if (flight.tickets.length) { %>
      <h3 id="total-tickets">Total Tickets: <%= flight.tickets.length %>
      </h3>
      <table id="tickets">
        <thead>
          <tr>
            <th>Seat</th>
            <th>Price</th>
            <th>Date Bought</th>
          </tr>
        </thead>
        <tbody>
          <% flight.tickets.forEach(ticket => { %>
            <tr>
              <td><%= ticket.seat %></td>
              <td><%= ticket.price %></td>
              <td><%= ticket.createdAt.toLocaleString() %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } else { %>
      <h3>No Tickets Added</h3>
    <% } %> 
</main>
  
<%- include('../partials/footer') %>
